/* variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-blue: #32425C;
  --basic-bluedark: #293449;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-grey: #A9A9A9;
  --special-greylight: #F3F7F9;
  --special-yellow: #FFBF47;
  --special-pink: #F9F5F0;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-bluedark: #1D2739;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --background: #888888;
}

/* Global */

.page {
  height: 100%;
  min-width: 940px;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-blue);
  background-color: var(--background);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page a {
  text-decoration: none;
  color: var(--basic-white);
}

.page img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  display: grid;
  grid-template-rows: 42px 158px 60px;
}

.first-header {
  background-color: var(--basic-bluedark);
  display: grid;
  grid-template-columns: 220px 100px 440px;
}

.search, .first-menu a {
  font-size: 18px;
}

.first-menu {
  list-style: none;
  display: grid;
  grid-template-columns: 120px 120px 150px;
  margin: 0;
  padding: 0;
}

.mid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.subtitle {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.mid-header-info a{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.page address {
  font-style: normal;
}

.authorization {
  font-size: 21px;
  line-height: 21px;
}

.authorization:hover {
  color: var(--basic-red);
}

.authorization:focus {
  color: var(--basic-greylight);
}

.main-nav {
  background-color: var(--basic-blue);
}

.site-nav {
  list-style: none;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.site-nav-item:hover {
  background-color: var(--basic-bluedark);
}

.site-nav-item:focus {
  background-color: var(--special-bluedark);
}

/* Main */

.services-list {
  list-style: none;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
}

.services-item {
  width: 300px;
  height: 123px;
}

.item-1 {
  background-color: var(--special-yellow);
}

.item-2 {
  background-color: var(--special-blue);
}

.item-3 {
  background-color: var(--special-lilac);
}

.item-4 {
  background-color: var(--special-greenlight);
  grid-column-start: 3;
}

.item-5 {
  background-color: var(--special-yellow);
  grid-column-start: 3;
  grid-row-start: 3;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services-item a {
  line-height: 18px;
}

.slider {
  color: var(--basic-white);
  list-style: none;
}

.slider a {
  line-height: 18px;
}

.slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-subtitle {
  font-size: 18px;
  line-height: 24px;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
}

.head-title {
  background-color: var(--special-pink);
}

.products-title,
.manufacturers-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 89px;
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 318px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.products-item {
  height: 318px;
}

.products-item-name {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey);
}

.new-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
}

.manufacturers-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 145px 145px;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-description {
  display: grid;
  grid-template-columns: 240px 700px;
  margin: 0;
  padding: 0;
}

.support {
  background-color: var(--basic-background);
}

.support-subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.support-list {
  list-style: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.support-details-list {
  list-style: none;
}

.support-details-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.support-details-subtitle  {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.info, .contacts {
  background-color: var(--basic-white);
}

.info-subtitile, .contacts-subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.delivery-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.info-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/* Footer */

.footer-navigation {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 68px 1fr;
  margin: 0;
  padding: 0;
}

.footer-nav {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
}

.footer-address, .footer-tel {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-greylight);
}

.footer-nav a {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-nav-item:hover, .footer-services-item:hover {
  text-decoration-line: underline;
}

.footer-nav-item:focus, .footer-services-item:focus {
  opacity: 0.5;
}

.footer-services a {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.footer-text a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer-text:hover a {
  text-decoration-line: underline;
}

.footer-text:focus a {
  color: var(--basic-red);
}

.footer-navigation {
  background-color: var(--basic-blue);
}

.footer-connect {
  background-color: var(--basic-bluedark);
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.social {
  list-style: none;
}

/* Catalog */

.breadcrumbs {
  list-style: none;
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-item:hover a{
  text-decoration: underline;
}

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-title {
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-title {
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-products-list {
  list-style: none;
}

.catalog-products-item h3{
  font-family: 'PT Sans', Arial, sans-serif;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-products-item .buy-button {
  color: var(--basic-white);
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-products-item .cart-button {
  line-height: 18px;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
}

.pagination-item a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.pagination-item .visited{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.description-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.description-subtitle {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
